/* reset margin, padding */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.banner {
  height: 867px;
  background: url("img/anh-dep-17.jpg") center center no-repeat;
  background-size: 100%;
  padding: 0 20px;
}
.banner .about-sign-in {
  height: 100px;
  width: 100%;
}
.banner .about-sign-in a.sign-in {
  margin-right: 120px;
  color: #76e676;
  border: 1px solid #76e676;
  border-radius: 20px;
}
.banner .about-sign-in a.about {
  color: black;
}
.banner .about,
.banner .sign-in {
  text-decoration: none;
  float: right;
  margin-left: 25px;
  margin-top: 29px;
  text-transform: uppercase;
  padding: 7px;
}
.banner .logo {
  background: url("img/panda.jpg") center no-repeat;
  height: 193px;
  background-size: 322px;
}
.banner .content-center {
  height: 100px;
}
.banner .text {
  text-align: center;
}
.banner .text p {
  font-size: 20px;
  color: #e26b6b;
}
.banner .btn-start {
  text-align: center;
}
.banner .btn-start button {
  text-transform: uppercase;
  padding: 10 20px;
  border-radius: 25px;
  background-color: green;
  color: white;
  margin: 20px;
  cursor: pointer;
}
