/* reset margin, padding */
body{
    margin: 0 !important;
    padding: 0 !important;
}

.red{
    border: 1px solid red;
}

.banner{
    height: 867px;
    background: url('img/anh-dep-17.jpg') center center no-repeat;
    background-size: 100%;
    padding: 0 20px;
}

.about-sign-in{
    height: 100px;
    width: 100%;
}

.about, .sign-in{
    text-decoration: none;
    float: right;
    margin-left: 25px;
    margin-top: 29px;
    text-transform: uppercase;
    padding: 7px;
}

a.sign-in {
    margin-right: 120px;
    color: rgb(118, 230, 118);
    border: 1px solid rgb(118, 230, 118);
    border-radius: 20px;
}

a.about {
    color: black;
}

.logo{
    background: url('img/panda.jpg') center no-repeat;
    height: 193px;
    background-size: 322px;
}

.content-center{
    height: 100px;
}

.text {
    text-align: center;
}

.btn-start {
    text-align: center;
}

button {
    text-transform: uppercase;
    padding: 10 20px;
    border-radius: 25px;
    background-color: green;
    color: white;
    margin: 20px;
    cursor: pointer;
}

p{
    font-size: 20px;
    color: rgb(226, 107, 107)
}